body{
    font-family: Arial, Helvetica, sans-serif;
    background: #e8e8e8;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #f84245, #f73630, #ff1515);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: white; /*COLOR CONTENIDO BAJO EL ENCABEZADO*/
}

.encabezadoAdmin{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    background: linear-gradient(to right,  #1452CF, #14A7CF, #14C7CF, #1452CF);
    padding: 20px;
    margin-bottom: 20px;   
}


.textEncabezadoAdmin{
    text-align: center;
    font-size: 23px;
    font-family: sans-serif
}

.columna{
    border-right: 5px solid black;
}

.menu-lateral button{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    border-bottom: 1px solid greenyellow;
}

.menu-lateral button:hover{
    background-color: greenyellow;
    color: black;
}

.menu-lateral{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.menu-lateral .boton-seleccionado{
    background-color: greenyellow;
}

.row .boton{  /* Boton Guardar*/
    background-color: #1452CF;
    border: 0;
    margin: 20px;
    padding: 10px;
    width: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
}

.row .boton:hover{ /* Boton Guardar*/
    background-color: black;
}

.container .row{
    padding: 10px;
    margin: 20px;
}


.col-12{ /* Separación entre cuadros de Un Vistazo y Actividad*/
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    padding: 10px;
    height: 200px;
}

.inventario{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background-color: #D6DDE8;
    padding: 30px;
    margin: 5px;
    border-radius: 10px;
}

.txtinventario{
    font-family: helvetica;
    font-family: Raleway;
}

.container i{
    font-size: 32px;

}

a{
    text-decoration: none;
}

.holaAdmin{
    font-size: 20px;
}


.htext{
    font-family: 'Times New Roman', Times, serif;
}

.salidalej{
    margin-left: 874px;
}

.columna2{
    border-top: 3px solid black;
}


.barra-lateral{
    height: 200px; 
    overflow-x: auto;
}

.trcolr{
    background-color: white;
    color: black;
}

.tablaLab {
    height: 220px;
    overflow: auto !important;
}

.icono-placeholder::placeholder {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.btnAsigMovi{
    background-color: #1452CF;
    font-family: Helvetica, sans-serif;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: white;
    border:none;
}

.btnAsigMovi:hover{
    background-color: greenyellow;
    color: black;
}